<footer class="fixed-bottom container d-flex justify-content-center">
    <div class="black-box d-flex justify-content-center">
        <div class="btn-0 mx-3">
            <a class="text-white" href="/messenger/broadcast">
                Soạn thư
            </a>
        </div>
        <div class="btn-0 mx-3">
            <a class="text-white" href="/messenger/manage">
                Đã gửi
            </a>
        </div>

    </div>
</footer>