<!DOCTYPE html>
<html>

<head>
    <title>Cập Nhật Thông Tin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/broadcast.css" rel="stylesheet">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="container">


        <div class="profile-box">
            <div class="row no-gutters">
                <div class="col-2">
                    <img id="profile_pic" class="card-img">
                </div>
                <div class="col-10">
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <p class="m-0 p-0" id="name"><%=user.email%></p>
                        <a href="/authentication/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="head-box py-3">
            <!-- <p class="text-center m-0 text-uppercase">Thẻ đã đăng ký</p> -->
        </div>

        <div class="body-box">
            <div id="retrieving_labels_by_psid">
                <div class="retrieving_labels_by_psid d-flex justify-content-between">
                    <p class="m-0 p-0">NAME</p>
                    <a class="btn btn-sm text-white unassociate_label btn-remove" name="NAME" id="ID">Bỏ theo dõi</a>
                </div>
            </div>
        </div>

        <div class="box">
            <textarea placeholder="Nhập nội dung..."></textarea>
        </div>

        <div class="box">
            <form>
                <input type="file" name="datafile" /></br>
                <input name="psid" value="343242343" style="display: none;">

                <input class="btn btn-remove" type="button" value="Tải tệp lên"
                    onClick="fileUpload(this.form,'/messenger/upload','upload'); return false;">
                <div id="upload"></div>
            </form>
        </div>

        <div class="head-box py-3">
            <input class="input" autocomplete="off" id="search" type="text" placeholder="Tìm kiếm file..">
        </div>
        <div class="body-box">

            <div id="files">
                <div class="files d-flex justify-content-between mb-3">
                    <p class="m-0 p-0">NAME</p>
                    <a class="btn btn-sm text-white associate_label btn-save" name="NAME" path="PATH">Đính kèm</a>
                </div>
            </div>
        </div>

        <div class="head-box py-3">
            <input class="input" autocomplete="off" id="search" type="text" placeholder="Tìm kiếm thẻ..">
        </div>
        <div class="body-box">

            <div id="get_all_labels">
                <div class="get_all_labels d-flex justify-content-between mb-3">
                    <p class="m-0 p-0">NAME</p>
                    <a class="btn btn-sm text-white associate_label btn-save" name="NAME" id="ID">Gửi</a>
                </div>
            </div>
        </div>

    </div>
    <footer class="fixed-bottom">
        chafo
    </footer>
    <script src="/assets/js/broadcast.js"></script>
</body>

</html>