<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Tính Năng Đang Phát Triển</h1>
    <!-- <form enctype="multipart/form-data">
        <input name="id" type="number" placeholder="Mã Lớp">
        <input name="class" type="text" placeholder="Tiêu Đề">
        <textarea name="content" placeholder="Nội Dung"></textarea>
        <input type="file" multiple="multiple">
        <button type="submit">Gửi</button>
    </form> -->
</body>

</html>