<!DOCTYPE html>
<html>

<head>
    <title>Cập Nhật Thông Tin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/broadcast.css" rel="stylesheet">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="pb-5">

    <div class="container">
        <form action="/api/broadcast" enctype="multipart/form-data" method="POST">
            <div class="box">
                <textarea name="text" placeholder="Nhập nội dung..."></textarea>
            </div>
            <div class="box">
                <label>Chọn tệp đính kèm:</label>
                <input name="upload" type="file">
            </div>

            <div class="head-box py-3">
                <input class="input" autocomplete="off" id="search" type="text" placeholder="Tìm kiếm thẻ..">
            </div>
            <div class="body-box">

                <div id="get_all_labels">
                    <div class="get_all_labels d-flex justify-content-between mb-3">
                        <p class="m-0 p-0">NAME</p>
                        <btn class="btn btn-sm text-white choose btn-save" label="NAME" id="ID">Chọn</btn>
                    </div>
                </div>
            </div>
            <div class="box">
                <div id="labels">
                    <div class="labels d-flex justify-content-between mb-3">
                        <p class="m-0 p-0">NAME</p>
                        <btn class="btn btn-sm text-white remove btn-remove" label="NAME" id="ID">Gỡ</btn>
                    </div>
                </div>
                <input id="choose" name="labels" style="display: none;">
                <input name="user" value="<%=user.local.email%>" style="display: none;">
                <button type="submit" class="btn btn btn-add w-100">Gửi đến các thẻ trên</button>
            </div>
        </form>

    </div>
    <footer class="fixed-bottom container">
        <div class="black-box text-white d-flex justify-content-center">
            <div class="btn-0 mx-3">
                Soạn thư
            </div>
            <div class="btn-0 mx-3">
                Đã gửi
            </div>

        </div>
    </footer>

    <script src="/assets/js/broadcast.js"></script>
</body>

</html>