<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form method="post">
        <input name="user" type="text" placeholder="Tài Khoản">
        <input name="password" type="password" placeholder="Mật Khẩu">
        <button type="submit">Đăng Nhập</button>
    </form>
</body>

</html>