<!DOCTYPE html>
<html>

<head>
    <title>Cập Nhật Thông Tin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/broadcast.css" rel="stylesheet">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</head>

<body class="pb-5">

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ngày</th>
                    <th scope="col">Thẻ</th>
                    <th scope="col">Nội dung</th>
                </tr>
            </thead>
            <tbody id="manage-box">
                <tr id="manage-item">
                    <th scope="row">DATE</th>
                    <td>LABEL</td>
                    <td>CONTENT</td>
                </tr>

            </tbody>
        </table>

    </div>
    <% include ../partials/footer %>
    <script src="/assets/js/manage.js"></script>
</body>

</html>