<!DOCTYPE html>
<html>

<head>
    <title>Cập Nhật Thông Tin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <img id="profile_pic" />
    <h5>Họ tên: </h5>
    <span id="name"></span>
    <h5>Thẻ đã đăng ký: </h5>
    <div id="retrieving_labels_by_psid">
        <div class="retrieving_labels_by_psid">NAME <button class="unassociate_label" name="NAME" id="ID">Hủy đăng
                ký</button></div>
    </div>
    <h5>Tất cả các thẻ: </h5>
    <input autocomplete="off" id="search" type="text" placeholder="Tìm kiếm..">
    <div id="get_all_labels">
        <div class="get_all_labels">NAME <button class="associate_label" name="NAME" id="ID">Đăng ký</button></div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/data.js"></script>
    <script src="/assets/js/routers.js"></script>
    <script src="/assets/js/profile.js"></script>
</body>

</html>