<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

        window.extAsyncInit = function () {
            MessengerExtensions.getContext('191786431454227',
                function success(thread_context) {
                    document.getElementById('psid').innerText = thread_context.psid;
                },
                function error(err) {
                    console.log(err);
                }
            );
        };
    </script>
</head>

<body>
    <form>
        <p id="psid">
        </p>
        <input name="class" type="text" placeholder="Lớp học phần">
        <button type="submit">Lưu</button>
    </form>

</body>

</html>