<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/js/jquery.min.js"></script>
</head>

<body>
	<img src="/" id="profile_pic"/>
    <form>
<p id="psid"></p>
        <span id="first_name"></span>
        <span> </span>
        <span id="last_name"></span>

        <input name="class" type="text" placeholder="Lớp học phần">
        <button type="submit">Lưu</button>
    </form>
    <script src="/assets/js/main.js"></script>
</body>

</html>
