<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form>
        <input name="id" type=" number" placeholder="Mã sinh viên">
        <input name="class" type="text" placeholder="Lớp">
        <button type="submit">Lưu</button>
    </form>
</body>

</html>