<!DOCTYPE html>
<html>

<head>
    <title>Cập Nhật Thông Tin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/profile.css" rel="stylesheet">
    <script src="/assets/js/jquery.min.js"></script>
</head>

<body>
    <scrip>
        (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

    </scrip>
    <div class="container">

        <div class="profile-box">
            <div class="row no-gutters">
                <div class="col-2">
                    <img id="profile_pic" class="card-img">
                </div>
                <div class="col-10">
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <p class="m-0 p-0" id="name"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="head-box py-3">
            <!-- <p class="text-center m-0 text-uppercase">Thẻ đã đăng ký</p> -->
        </div>

        <div class="body-box">
            <div id="retrieving_labels_by_psid">
                <div class="retrieving_labels_by_psid d-flex justify-content-between">
                    <p class="m-0 p-0">NAME</p>
                    <a class="btn btn-sm text-white unassociate_label btn-remove" name="NAME" id="ID">Bỏ theo dõi</a>
                </div>
            </div>
        </div>






        <div class="head-box py-3">
            <input autocomplete="off" id="search" type="text" placeholder="Tìm kiếm..">
        </div>
        <div class="body-box">

            <div id="get_all_labels">
                <div class="get_all_labels d-flex justify-content-between">
                    <p class="m-0 p-0">NAME</p>
                    <a class="btn btn-sm text-white associate_label btn-save" name="NAME" id="ID">Theo dõi</a>
                </div>
            </div>
        </div>

    </div>

    <script src="/assets/js/profile.js"></script>
</body>

</html>