<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/login.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="login-box">
            <p class="text-center">Đăng ký</p>
            <hr />

            <form method="post" action="/authentication/signup">
                <input class="input" name="user" type="text" placeholder="Tài Khoản">
                <input class="input" name="password" type="password" placeholder="Mật Khẩu">
                <button type="submit" class="btn btn-login">Đăng ký</button>
                <hr />

                <a href="/messenger/login">Đăng nhập</a>
                <%if (message && message[0]) {%>
                <p><%=message[0]%></p>
                <%}%>
                        </form>
                </div>
    </div>
  

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/login.js"></script>
</body>

</html>