<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Loa Loa</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.0.0/quill.snow.css">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="font-size: 14px;">
            <div class="container"><a class="navbar-brand" href="#"><%=user.local.email%></a><button
                    data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                        navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/">Đăng Thông Báo</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/">Đã Đăng</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/">Trang Cá Nhân</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Đăng Xuất</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div style="border: 1px solid #dee2e6;border-radius: 20px;padding: 15px;">
            <div class="row">
                <div class="col-sm-12 col-md-3"><label style="font-size: 14px;margin-left: 5px;">Ngày (Cạnh tiêu
                        đề)</label><input type="date"
                        style="border: none;width: 100%;padding-left: 5px;border-bottom: 1px solid #dee2e6;border-radius: 0px;font-size: 14px;width: 100%;">
                </div>
                <div class="col"><label style="font-size: 14px;margin-left: 5px;">Tiêu đề</label><input type="text"
                        style="border: none;width: 100%;padding-left: 5px;border-bottom: 1px solid #dee2e6;border-radius: 0px;font-size: 14px;"
                        placeholder="Tiêu đề"></div>
            </div><label style="font-size: 14px;margin-left: 5px;">Nội Dung</label>
            <div class="row">
                <div class="col-md-12">
                    <div id="toolbar"></div>
                    <div id="editor" style="height: 100px;"></div>
                </div>
            </div>
            <div
                class="d-flex d-sm-flex d-md-flex justify-content-center justify-content-sm-center justify-content-md-end">
                <button class="btn btn-primary btn-sm" id="post" type="button" style="margin-top: 15px;">Đăng Thông
                    Báo</button></div>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-expand-md fixed-bottom"
        style="padding: 0px;padding-top: 3px;padding-bottom: 3px;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse d-flex justify-content-center align-items-center"><span
                    class="navbar-text" style="padding: 0px;">TechDra © 2019<br></span></div>
        </div>
    </nav>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
    <script src="/assets/js/Quill-Text-Editor.js"></script>
</body>

</html>